.wrapper{
  display: flex;
}



.side_bar{
  width: 300px;
  height: 100vh;
  background-color: #253141;
}

.side_bar_header{
  height: 100px;
  padding: 0 20px;
}

.rooms{
  height: calc(100vh - 100px);
  background-color: #2F3E51;
  padding: 0 20px;
}



.main_chat{
  width: calc(100% - 300px);
  background-color: #ffffff;
}

.chat_header{
  height: 100px;
  padding: 0 40px;
}

.messages{
  height: calc(100% - 190px);
  background-color: #FAFAFA;
  padding: 46px 40px 0;
}

.form{
  height: 90px;
  background-color: #DDDDDD;
  padding: 20px 40px;
}

